.Room {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;

	& > * {
		flex: 1;
		display: flex;
		flex-direction: column;
		max-width: 25%;

		&:not(:first-of-type) {
			margin-left: 1rem;
		}

		& > * {
			background-color: #eee;
			border: solid 1px rgba(0, 0, 0, 0.1);
			border-radius: 0.5rem;
			padding: 1rem;
			box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
			overflow: hidden;
		}
	}

	&-RightPanel {
		display: flex;
		flex-direction: column;
	}

	&-HandArea {
		display: grid;
		grid-template-rows: repeat(1fr, 10);
		overflow-y: auto;

		&_Disabled {
			position: relative;
			overflow-y: hidden;
			&::after {
				content: '裁判';
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.5);
				color: #fff;
				font-weight: bold;
				font-size: 6rem;
			}
		}
	}

	&-PlayArea {
		display: grid;
		grid-template-rows: repeat(1fr, 8);
		overflow-y: auto;
	}

	&-BlackCardArea {
		position: relative;
	}

	&-Chat {
		flex: 1;
		margin-top: 1rem;
	}

	&-StartButton {
		--transX: -50%;
		--transY: -50%;
		position: absolute;
		top: 50%;
		left: 50%;
	}

	&-PlayArea,
	&-HandArea {
		height: 100%;
	}

	&-Players {
		flex: 2;
		margin-bottom: 1rem;
		overflow-y: auto;
	}

	&-Spectators {
		flex: 1;
		overflow-y: auto;
	}

	&-Info {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: -1rem -1rem 1rem -1rem;
		background-color: #ccc;
		padding: 0.5rem 1rem;

		&-Password {
		}

		&-Id {
			font-weight: bold;
		}

		&-Name {
			display: block;
			margin: 0 auto;
			font-size: 1.6rem;
			white-space: nowrap;
		}
	}

	&-Settings {
		margin-top: 1rem;
		display: flex;

		.Button {
			flex: 1;
			text-align: center;
			i[class^='icon'] {
				margin: 0;
				font-size: 2rem;
			}
			&:not(:first-of-type) {
				margin-left: 1rem;
			}
		}
	}
}
