.BlackCard {
	height: 30vh;
	// max-height: 20rem;

	background-color: #333;
	color: #eee;
	padding: 1rem;
	font-size: 2rem;
	border-radius: 0.5rem;
	overflow-y: auto;

	&-Text {

	}

	&-Replacement {
		color: #ff6;
		&_Preview {
			color: #6af;
		}
	}

	&-Blank {
		margin: 0 0.5rem;
	}
}