.Button {
	&,
	&:link,
	&:visited {
		display: inline-block;
		text-decoration: none;
		padding: 1rem 2rem;
		background-color: #eee;
		color: #666;
		box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
		text-align: center;
		border-radius: 0.5rem;
		font-size: 2rem;
		transition: transform .3s, box-shadow .3s;
	}

	&:hover {
		transform: translateY(-2px);
		box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
		transition-duration: 0.1s;
	}

	&-Wide {
		display: block;
		width: 100%;
	}

	&:not(.Button-Disabled):active {
		transition-duration: 0.1s;
		transform: translateY(2px);
		box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
	}
}
