.Button {
	--shadow-color: rgba(0, 0, 0, 0.5);
	--transX: 0px;
	--transY: 0px;

	&,
	&:link,
	&:visited {
		display: inline-block;
		text-decoration: none;
		padding: 1rem 2rem;
		background-color: #aaa;
		color: #fff;
		box-shadow: 0px 4px var(--shadow-color);
		text-align: center;
		border-radius: 0.5rem;
		font-size: 2rem;
		transition: transform .3s, box-shadow .3s;
		transform: translate(var(--transX), var(--transY));
		white-space: nowrap;
	}

	&:hover {
		transform: translate(var(--transX), calc(var(--transY) - 2px));
		box-shadow: 0px 6px var(--shadow-color);
		transition-duration: 0.1s;
	}

	[class^='icon'] {
		margin-right: 1rem;
	}

	&_Wide {
		display: block;
		width: 100%;
	}

	&:not(.Button-Disabled):active {
		transition-duration: 0.1s;
		transform: translate(var(--transX), calc(var(--transY) + 2px));
		box-shadow: 0px 2px var(--shadow-color);
	}
}
