.Chat {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	&-Logs {
		flex: 1;
		padding: 1rem;
		background-color: #ddd;
		border-radius: 0.5rem;
		display: flex;
		flex-flow: column nowrap;
		overflow-y: auto;
		overflow-x: hidden;
	}

	&-Log {
		margin: 0;
		&:first-child {
			margin-top: auto !important;
		}
		display: flex;
		flex-direction: column;
		margin-top: 1rem;

		&_Consecutive {
			.Chat-Log-Speaker {
				display: none !important;
			}
		}

		&:not(&_HideTime) {
			&.Chat-Log-System {
				&::before {
					margin-bottom: 1rem;
				}
			}
			&::before {
				content: attr(data-time);
				display: block;
				text-align: center;
				font-size: 1.2rem;
				color: #999;
			}
		}

		&-Speaker {
			font-size: 1.2rem;
			color: #999;
			margin-bottom: 0.5rem;
		}

		&-Message {
			margin: 0;
			display: block;

			img {
				max-width: 100%;
			}
		}

		&-Me, &-Others {
			.Chat-Log-Message {
				padding: 0.5rem 1rem;
				background-color: #fff;
				border-radius: 1rem;
				border: solid 1px #aaa;
			}
		}

		&-Me {
			.Chat-Log-Speaker {
				text-align: right;
			}
	
			.Chat-Log-Message {
				align-self: flex-end;
				background-color: #cfb;
				border: solid 1px #8c7;
				color: #465;
			}

			animation: slide-in-right .3s both;
		}

		&-System {
			.Chat-Log-Speaker {
				display: none;
			}
	
			.Chat-Log-Message {
				font-size: 1.2rem;
				align-self: center;
				text-align: center;
				color: #999;
			}
		}

		&-Others {
			.Chat-Log-Speaker {
				text-align: left;
			}
	
			.Chat-Log-Message {
				align-self: flex-start;
			}

			animation: slide-in-left .3s both;
		}

		
	}

	&-InputArea {
		display: flex;
		align-items: stretch;
		margin-top: 1rem;

		.Input {
			margin-right: 1rem;
		}

		.Button {
			font-size: 1.6rem;
			padding: 0.25rem 1rem;
			margin-bottom: 4px;
		}
	}
}

@keyframes slide-in-right {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes slide-in-left {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}