.Form {
	[type='checkbox'] {
		display: none;

		&:checked ~ .Form-Item-Input_Checkbox {
			color: #384;
			&::before {
				color: #384;
				background-color: #afc;
			}
		}

		&:not(:checked) ~ .Form-Item-Input_Checkbox {
			&::before {
				content: '';
				background-color: #fff;
				color: #777;
			}
		}
	}

	&-Items {
	}

	&-Buttons {
		margin-top: 1rem;
	}

	&-Item {
		display: flex;
		flex-direction: column;

		&:not(:first-of-type) {
			margin-top: 1rem;
		}

		&-Title {
			font-weight: bold;
			font-size: 2rem;
			margin-bottom: 1rem;
		}

		&-Input {
			&_Text {
			}

			&_Password {
			}

			&_Checkbox {
				cursor: pointer;

				display: flex;
				align-items: center;

				&::before {
					content: '\ea10';
					border: solid 2px currentColor;
					margin-right: 0.5rem;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 2rem;
					height: 2rem;
					border-radius: 0.5rem;
					box-shadow: 0px 4px inset rgba(0, 0, 0, 0.1);

					/* use !important to prevent issues with browser extensions that change fonts */
					font-family: 'icomoon' !important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;

					/* Better Font Rendering =========== */
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
		}

		&-Group {
			display: flex;
			flex-wrap: wrap;
			&-Item {
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
				&:not(:last-of-type) {
					margin-right: 1rem;
				}
			}
		}
	}
}
