.Form {
	[type='checkbox'] {
		display: none;

		&:checked ~ .Form-Item-Input_Checkbox {
			color: #384;
			&::before {
				color: #384;
				background-color: #afc;
			}
		}

		&:not(:checked) ~ .Form-Item-Input_Checkbox {
			&::before {
				content: '';
				background-color: #fff;
				color: #777;
			}
		}
	}

	[type='radio'] {
		display: none;

		&:checked ~ .Form-Item-Input_Radio {
			color: #384;
			background-color: #afc;
		}

		&:not(:checked) ~ .Form-Item-Input_Radio {
			background-color: #eee;
		}
	}

	&-Items {
		margin-bottom: 3rem;
	}

	&-Buttons {
		margin-top: 1rem;
	}

	&-Item {
		display: flex;
		flex-direction: column;

		&:not(:first-of-type) {
			margin-top: 1rem;
		}

		&-Title {
			font-weight: bold;
			font-size: 2rem;
			margin-bottom: 1rem;
		}

		&-Input {
			&_Text {
			}

			&_Password {
			}

			&_Radio {
				padding: 0.5rem 1rem;
				border: solid 1px currentColor;
				cursor: pointer;
				transition: all .2s;

				&:hover {
					color: #a08c31 !important;
				}
			}

			&_Checkbox {
				cursor: pointer;

				display: flex;
				align-items: center;

				&::before {
					content: '\ea10';
					border: solid 2px currentColor;
					margin-right: 0.5rem;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 2rem;
					height: 2rem;
					border-radius: 0.5rem;
					box-shadow: 0px 4px inset rgba(0, 0, 0, 0.1);

					@include icon;
				}
			}
		}

		&-Group {
			display: flex;
			flex-wrap: wrap;
			&-Item {
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
				&:not(:last-of-type) {
					margin-right: 1rem;
				}
			}

			&_Radio {
				.Form-Item-Group-Item {
					margin: 0;

					&:first-child {
						.Form-Item-Input {
							border-top-left-radius: 0.5rem;
							border-bottom-left-radius: 0.5rem;
						}
					}

					&:not(:first-child) {
						margin-left: -1px;
					}

					&:last-child {
						.Form-Item-Input {
							border-top-right-radius: 0.5rem;
							border-bottom-right-radius: 0.5rem;
						}
					}
				}
			}
		}
	}
}
