.Loading {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 1000;
	background-color: rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #eee;

	&-Icon {
		font-size: 4rem;
		animation: spin 2s infinite linear;
	}

	&-Text {
		font-weight: normal;
		margin-bottom: 0;
	}
}

@keyframes spin {
	from {
		transform: rotate(0turn);
	}

	to {
		transform: rotate(1turn);
	}
}