.Popup-Container {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.5);

	&:empty {
		display: none;
	}
}

.Popup {
	
}