.WhiteCard {
	display: block;
	background-color: #fff;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	transition: all .2s;
	border: solid 2px transparent;
	&:hover {
		background-color: #89a;
		color: #fff;
	}
	&:not(:first-of-type){
		margin-top: 1rem;
	}

	&_Chosen {
		background-color: #7bf !important;
		color: #fff !important;
		border: solid 2px #59d;
	}
}