@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qznjs8');
  src:  url('fonts/icomoon.eot?qznjs8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qznjs8') format('truetype'),
    url('fonts/icomoon.woff?qznjs8') format('woff'),
    url('fonts/icomoon.svg?qznjs8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-book:before {
  content: "\e91f";
}
.icon-users:before {
  content: "\e972";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-cog:before {
  content: "\e994";
}
.icon-upload2:before {
  content: "\e9c6";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-plus:before {
  content: "\e9cf";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-arrow-up:before {
  content: "\ea32";
}
