@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?49iz0v');
  src:  url('fonts/icomoon.eot?49iz0v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?49iz0v') format('truetype'),
    url('fonts/icomoon.woff?49iz0v') format('woff'),
    url('fonts/icomoon.svg?49iz0v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e91f";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-cog:before {
  content: "\e994";
}
.icon-upload2:before {
  content: "\e9c6";
}
.icon-plus:before {
  content: "\ea0a";
}
