* {
	box-sizing: inherit;
	font-family: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	body {
		font-size: 1.6rem;
		padding: 0;
		margin: 0;
		overflow: hidden;
		width: 100vw;
		height: 100vh;
		position: relative;

		#root {
			width: 100%;
			height: 100%;
		}
	}
}

input[type='text'],
input[type='password'] {
	font-size: inherit;
}

[data-title] {
	position: relative;
	&::before {
		content: attr(data-title);
		display: block;
		top: 0;
		left: 0;
		right: 0;
		padding: 0.5rem;
		margin: -1rem -1rem 1rem -1rem;
		background-color: #ccc;
		text-align: center;
		font-weight: bold;
		color: #666;
	}
}

@mixin icon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
