* {
	box-sizing: inherit;
	font-family: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	body {
		font-size: 1.6rem;
		padding: 0;
		margin: 0;
		overflow: hidden;
		width: 100vw;
		height: 100vh;
		position: relative;

		#root {
			width: 100%;
			height: 100%;
		}
	}
}